Flask==2.2.5
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
Flask-Session==0.4.0
Flask-Migrate==4.0.4
Flask-Cors==3.0.10
WTForms==3.1.1
SQLAlchemy==2.0.23
Werkzeug==2.2.3
requests==2.31.0
pandas==1.5.3
nltk==3.8.1
textblob==0.17.1
gunicorn==21.2.0
PyYAML==6.0.1
scikit-learn  
numpy>=1.21  
cython>=0.29.36  
scipy==1.10.1
joblib==1.2.0
threadpoolctl==3.1.0

